:root {
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-area {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

