.note-title {
  font-weight: bold;
  font-size: 0.8rem;
}

.note-owner {
  font-style: italic;
  font-weight: thin;
  font-size: 0.8rem;
}

.note {
  border-style: solid;
  border-width: 1px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1rem;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.note:hover {
  box-shadow: 0px 0px 5px;
}

.note-header {
  display: none;
}

.note:hover .note-header {
  display: flex;
  justify-content: space-between;
  animation: fadeIn 200ms;
}
.note-footer {
  z-index: 10000;
  display: none;
}

.note:hover .note-footer {
  display: flex;
  justify-content: space-between;
  animation: fadeIn 200ms;
}

.note-add {
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.note:hover .note-add-button {
  animation: spinGrow 200ms;
  font-size: 2rem;
}

